body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.wrappper{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}
.item{
    display: grid;
    gap: 30px;
}